# This is a basic workflow that is manually triggered

name: 手动执行的一次Pipeline

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  # This workflow contains a single job called "greet"
  pipeline:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: run type check
      run: echo "No specific type check scripts!"
    - name: run test
      run: echo "No specific test scripts!"
    - name: 自定义命令
      run: go version
